input[type=text] {
    width: 180px;
    height: 50%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-size: 15px 15px;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    /* transition: width 0.4s ease-in-out; */
}


input::-webkit-calendar-picker-indicator { display: none; }

